*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
}

header{
    text-align: center;
    border-bottom: solid 3px black;
    margin-bottom: 20px;
}

.info-bar {
    display: flex;
    justify-content: center;
}

.scoreboard {
    margin: auto;
    justify-self: center;
    padding: 20px;
    width: 400px;
}

.scoreboard-letter {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 10px 0;
    box-shadow: 2px 2px 4px #000000;
    /*box-shadow: 2px 2px 4px #000000 inset;*/
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn-container {
    margin: 20px 0;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(4, 173, 4);
    color: white;
    border-radius: 15px;
}


.btn-container {
    visibility: hidden;
}

.lost {
    color: red;
}

.wrong {
    border: 3px solid red;
}

.won {
    color: rgb(4, 173, 4);
}

p {
    color: rgb(4, 173, 4);
    font-size: 20px;
    font-weight: bold;
}

span {
    font-size: 30px;
    color: rgb(248, 135, 5);
    font-weight: 700;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spiner {
    animation: spin 1.5s infinite linear;
    font-size: 40px;
}
