*{
    box-sizing: border-box;
}

.calculator {
    font-size: 40px;
    width: 400px;
    height: 600px;
}

.rows {
    display: flex;
    justify-content: space-between 24%;
}

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100px;
    width: 100px;
}

.row-display {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: 100px;
    font-size: 65px;
    padding: 10px 0;
    text-align: right;
    font-weight: 100;
}

.clear {
    width: 200px;
}

.zero {
    width: 300px;
}

.multi {
    font-size: 30px;
}

.gray {
    background-color: rgb(230, 230, 230);
}

.gray:hover {
    background-color: rgb(250, 250, 250);
}

.orange {
    background-color: rgb(234, 158, 51);
    color: white;
    font-weight: 300;
}

.orange:hover {
    background-color: rgb(253, 196, 116);
}

